<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ygy.syh.dao.wlw.AppCellMapper" >
    <resultMap id="BaseResultMap" type="com.ygy.syh.domain.wlw.AppCell" >

        <result column="CITY_NAME" property="CITY_NAME" jdbcType="VARCHAR" />
        <result column="DATE_ID" property="DATE_ID" jdbcType="VARCHAR" />
        <result column="KPI_NAME" property="KPI_NAME" jdbcType="VARCHAR" />
        <result column="TERMINAL_App_Name" property="TERMINAL_App_Name" jdbcType="VARCHAR" />
        <result column="Cell_Name" property="Cell_Name" jdbcType="VARCHAR" />
        <result column="KPI_VALUE" property="KPI_VALUE" jdbcType="DECIMAL" />
        <result column="KPI_COUNT" property="KPI_COUNT" jdbcType="INTEGER" />
        <result column="IMSI_NUM" property="IMSI_NUM" jdbcType="INTEGER" />
        <result column="IMSI_BAD_RATE" property="IMSI_BAD_RATE" jdbcType="DECIMAL" />


    </resultMap>
    <sql id="Base_Column_List" >
        CITY_NAME,DATE_ID,KPI_NAME,TERMINAL_App_Name,Cell_Name,KPI_VALUE,KPI_COUNT,IMSI_NUM,IMSI_BAD_RATE
    </sql>

    <select id="findByPage2" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
             <include refid="Base_Column_List" />
        from F_AlARM_TERMINAL_APP_CELL
        where date_id = #{dqDate} and CITY_NAME = #{cityName} and KPI_NAME=#{kpiName}
    </select>

    <select id="findByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
       select  <include refid="Base_Column_List" />
        from F_AlARM_TERMINAL_APP_CELL
        where date_id = #{dqDate} and CITY_NAME = #{cityName} and KPI_NAME=#{kpiName}
    </select>
</mapper>