<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>性能平台</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/css/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/dashboard.css" rel="stylesheet">

    
    <script src="../static/css/assets/js/ie-emulation-modes-warning.js"></script>

   
  </head>

  <body id="bodyClass">

    <nav id="topMenu" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">2018年全国NEI网络质量评估</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li><a href="/nei/download/helpDoc">帮助文档</a></li>
          </ul>
          
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
	    
        <div id="leftmenu" class="col-sm-3 col-md-2 sidebar">
		 
          <ul class="nav nav-sidebar">
            <li class="active" id="guanlizhe"><a href="javascript:selectMenu(1);">管理者视图</a></li>
            <li id="zhibiaofenxi"><a href="javascript:selectMenu(2);">指标分析</a></li>
            <li id="gongdanguanli"><a href="javascript:selectMenu(3);">工单管理</a></li>
            <li id="zhibiaoshujuguanli"><a href="javascript:selectMenu(4);">指标数据管理</a></li>
          </ul>
        
        </div>
		<div id="middleContent" class="col-sm-1 col-sm-offset-3 col-md-1 col-md-offset-2 middle">
			<span id="clickButton" class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
		</div>
        <div id="rightContent" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        </div>
      </div>
    </div>


    <script language="javascript" src="../static/js/jquery.min.js"></script>
    <script language="javascript" src="../static/js/laydate/laydate.js"></script>
    <script language="javascript" src="../static/js/city.js"></script>

    <script language="javascript" src="../static/js/echarts.js"></script>
    <script language="javascript" src="../static/js/dist/echarts.js"></script>
    <script src="../static/js/xnpg.js"></script>

    <script src="../static/js/index2.js"></script>

    <script src="../static/js/bootstrap-table.min.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.min.js"></script>


    <script src="../static/js/zhibiao.js"></script>

    <script src="../static/js/dbfx.js"></script>

    <script src="../static/js/pinggu.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/jquery-3.0.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/css/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
	
	 <script src="../static/js/header.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../static/css/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/css/assets/js/ie10-viewport-bug-workaround.js"></script>



  </body>
</html>
