<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--  <link rel="icon" href="../../favicon.ico">-->

    <title>2018年福建省NEI网络质量平台未送达达指标详情</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../static/js/plugins/bootstrap/dist-3.3.7/css/bootstrap.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/css/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">


    <link href="../static/css/cover.css" rel="stylesheet">

    <script src="../static/js/jquery.min.js"></script>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../static/css/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/css/assets/js/ie-emulation-modes-warning.js"></script>









    <script src="../static/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../static/css/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/css/assets/js/ie10-viewport-bug-workaround.js"></script>



</head>

<body>

<input type="hidden" name="result" th:value="${result}" id="result"/>
<input type="hidden" name="status" th:value="${status}" id="status"/>


<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">

                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">更新结果</h1>
                <p class="lead" id ="leadContent">。。。  。。。  。。。</p>
                <p class="lead" id="leadC2">
                    <a href="#" class="btn btn-lg btn-default" id="btn">详情请下载附件</a>
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                </div>
            </div>

        </div>

    </div>

</div>

<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

<script src="../static/js/updateResult.js"></script>


</body>
</html>
