@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	font-size: 19px;
	font-family: "Microsoft Yahei";
}
html{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
	
}
body{
	width: 100%;
	height: 100%;
	/*background: #16455b;*/
	background: url(../img/wlwbackground.png) repeat center center;
	padding: 0px;
	padding-top: 0px;
	background-attachment: fixed;/*设置背景图像是固定的*/
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

.home-title{
	/*background: url(../img/top-1.png) no-repeat center center;*/
	color: #ffffff;
	position: absolute;
	font-size: 30px;
	line-height: 30px;
	height: 32px;
	/* margin-left: -42px; */
	left:0px;
        top:5%;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-family: myfont_fzzz;
	
	text-transform: uppercase;
	font-family: 'Anaheim', sans-serif;
	font-size: 3em;
	font-weight: 400;
	color:white;
	text-shadow: 0 1px black, 0 2px white;
}

.page-container{
	width: 100%;
	height: 90%;
	/* margin-top: 43px; */
	padding: 60px 25px 0px 20px;
} 

.page-left{
	width: 25%;
	height: 100%;
	float: left;
	position: relative;
	border: 1px solid #006699;/*#219171*/
	padding: 0px 0px 0px 0px;
}

.page-left-b1{
    width: 100%;
    height: 33%;
    float: left;
	left:0px;
	top:10px;
	position: relative;	
}
.page-left-b2{
    width: 100%;
    height: 40%;
    float: left;
	left:0px;
	top:20px;
	position: relative;	
	padding: 0px 0px 0px 0px;
}
.page-left-b3{
    width: 100%;
    height: 20%;
    float: left;
	left:0px;
	top:30px;
	position: relative;	
}

.tab-title{
	/* width: 320px; */
	/*background-color: #16455b;*/
	height: 30px;
	line-height: 54px;
	text-align: center;
	background-size: 100% 100%;
	position: absolute;
	left: 40%;
	margin-left: -220x;
	top: -30px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

.tab-title1{
	/* width: 320px; */
	background-color: #16455b;
	height: 30px;
	line-height: 54px;
	text-align: center;
	background-size: 100% 100%;
	position: absolute;
	left: 28%;
	margin-left: -220x;
	top: -30px;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
}



.page-center{
	
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
	border: 0px solid  #006699;
	left: 5px;
}



.page-center2{
	width:85%;
	height: 10%;
	float: left;
	position: relative;
	align:center;
     
}

.page-center3{
	width:100%;
	height: 10%;
	float: left;
	position: relative;
	align:center;
     
}

marquee{
	width:100%;
	height: 100%;
	position: relative;
	left:9%;
	
	
}
.dongdian{
	color:yellow;
}

.page-center1{
	width:100%;
	height: 85%;
	float: left;
	position: relative;
	background: url(../img/bg.jpg) no-repeat center center;
	/*background-size:cover;*/
	/*background: url(../img/jiagoutu.jpg) no-repeat center center;*/
}



.left-table1 tr td{
	width:25%;
	height:15px;
	font-size:15px;
}

.page-right{
    width: 25%;
    height: 100%;
    float: left;
	left:10px;
	
	position: relative;
	border: 1px solid #006699;
	padding: 0px 16px 0px 0px;
}


.page-left-b2-contain{
	width:95%;
	position: relative;
	left:10px;
	
}
.page-left-b2-top{
	position: relative;
	top:10px;
	color: white;
	font-size:20px;
}

.page-center-b3-top{
	position: relative;
	
	top:15px;
	text-align: center;
	color: white;
	font-size:10px;
}
.left-table{
	width: 100%;
	height:100px;
	color: white;
	text-align: center;
	position: relative;
	top :20px;
	line-height: 40px;
	border:1px solid #d2b48c;
	border-collapse: collapse;
	word-wrap:break-word; 
	word-break:break-all
	
}
.left-table1{
	width: 100%;
	color: white;
	text-align: center;
	position: relative;
	top :20px;
	line-height: 40px;
	border:1px solid #d2b48c;
	border-collapse: collapse;
	word-wrap:break-word; 
	word-break:break-all
	
}
.left-table tr{
	height:10px;
}

.left-table tr td{
	font-size:15px;
}
table,table tr th, table tr td { border:1px solid #d2b48c; }

.td1{
	width:65%;
	
}
.td2{
	width:20%;
	
}
.td3{
	width:15%;
	
}

.page-left-b3-t1{
	 width: 32%;
    height: 100%;
    float: left;
	left:0px;
	
	position: relative;
	
}


.page-left-b3-t2{
	 width: 32%;
    height: 100%;
    float: left;
	left:0px;
	
	position: relative;
}


.page-left-b3-t3{
	 width: 32%;
    height: 100%;
    float: left;
	left:0px;
	
	position: relative;
}
.page-left-b3-top1{
    float: left;
}

.page-left-b3-top{
	position: relative;
	top:0px;
	color: white;
	font-size:10px;
}


.horse-box{
	display:block;
	width:200px;
	height: 20px;
	border:1px solid rgba(0,255,191,0.5);
	margin: 0px auto;
	position:relative;
	top: 85px;
	padding: 0 25px;
	color: #f9e400;
	overflow:hidden;
	font-weight: bold;
}
.horse-box:before{
	content:"";
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	width:0px;
	height:0px;
	border:5px solid rgba(0,0,0,0);
	border-left-color:#00ffbf;
	border-bottom-color:#00ffbf;
}
.horse-box:after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	right:0;
	width:0px;
	height:0px;
	border:5px solid rgba(0,0,0,0);
	border-right-color:#00ffbf;
	border-top-color:#00ffbf;
}
.horse-border{
	display:block;
	width:100%;
	height: 42px;
	position:relative;
	overflow:hidden;
}
.horse-box .horse{
	display:block;
	font-size: 26px;
	height: 42px;
	line-height: 42px;
	position:absolute;
	left:100%;
	white-space: nowrap;
	animation:transsX 25s infinite linear;
}

.gongan{
	position:absolute;
	top:10%;
	left:46%;
}
.dianli{
	position:absolute;
	top:13%;
	left:30%;
}
.gonglu{
	position:absolute;
	top:32%;
	left:22%;
}
.ludeng{
	position:absolute;
	top:57%;
	left:22%;
}
.yinghang{
	position:absolute;
	top:75%;
	left:32%;
}
.shuili{
	position:absolute;
	top:77%;
	left:50%;
}
.xhc{
	position:absolute;
	top:70%;
	left:63%;
}
.chogndianzhuang{
	position:absolute;
	top:50%;
	left:70%;
}
.chelianwang{
	position:absolute;
	top:30%;
	left:70%;
}
.tongyong{
	position:absolute;
	top:15%;
	left:63%;
}
.zonglan{
	position:absolute;
	color:white;
	top:33%;
	left:46%;
	display: table;
	
	/*position:absolute;
	/* left:24%; /*左右位置*/
	/* top:5%;/*上下位置*/ 
	margin:5% auto 0;
	text-transform: uppercase;
	font-family: 'Anaheim', sans-serif;
	font-size: 2em;
	font-weight: 400;
	color:white;
	text-shadow: 0 1px black, 0 2px white;
}

.zonglan{
	
	cursor: pointer;
	transition: all .5s ease;
}
.zonglan:hover{
	-webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

.page-box{
	 margin: 15px;
	position:relative;
	height: 43%;
	width:93%;
	
	background: url(../img/zs.png) no-repeat 0 0,url(../img/ys.png) no-repeat 100% 0,url(../img/zx.png) no-repeat 0 100%,url(../img/yx.png) no-repeat 100% 100%;
	background-color: rgba(24, 80, 107, 0.5);

}

.page-box-zy{
	 margin: 15px;
	position:relative;
	height: 50%;
	width:93%;
	
	background: url(../img/zs.png) no-repeat 0 0,url(../img/ys.png) no-repeat 100% 0,url(../img/zx.png) no-repeat 0 100%,url(../img/yx.png) no-repeat 100% 100%;
	background-color: rgba(24, 80, 107, 0.5);
}

.page-box-zy1{
	 margin: 15px;
	position:relative;
	height: 36%;
	width:93%;
	
	background: url(../img/zs.png) no-repeat 0 0,url(../img/ys.png) no-repeat 100% 0,url(../img/zx.png) no-repeat 0 100%,url(../img/yx.png) no-repeat 100% 100%;
	background-color: rgba(24, 80, 107, 0.5);
}

.modular-title{
	text-align: center;
	color: #00ffbf;
	font-size: 20px;
	line-height: 40px;
	background: url(../img/tittlebg.png) no-repeat center center;
}

.page-box1{
	margin: 15px;
	position:relative;
	color: #fff;
	font-size: 18px;
	height: 2%;
	width:93%;
}
.page-box-r{
	 margin: 3%;
	position:relative;
	height: 43%;
	width:97%;
	
	background: url(../img/zs.png) no-repeat 0 0,url(../img/ys.png) no-repeat 100% 0,url(../img/zx.png) no-repeat 0 100%,url(../img/yx.png) no-repeat 100% 100%;
	background-color: rgba(24, 80, 107, 0.5);

}

.page-box h5{
	color:white;
}
.page-box   ul li{
	color:white;
	font-size:15px;
}
.page-box-r h5{
	color:white;
}
.page-box-n{
	position:relative;
	margin: 15px;
	top:20px;
	left:6%;

}


#scrollWarn{ 
    /*background-color:#760808;*/
    
    color:white;
    font-size:14px;
    height: 40%; 
    overflow: hidden; 
    /*border-radius:5px;*/
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    top:55%;
    opacity:1;
}
#scrollWarn ul {
	padding-left:0px;
}

#scrollWarn1{ 
    /*background-color:#760808;*/
    
   /*background-color:#760808;*/
    color:white;
    font-size:14px;
    height: 85%; 
	width:90%;
    overflow: hidden;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    opacity:1;
}
ul li{
	color:white;
	font-size:15px;
}

#scrollWarn2{ 
    /*background-color:#760808;*/
    
    color:white;
    font-size:14px;
    height: 85%; 
    overflow: hidden; 
    /*border-radius:5px;*/
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;

    opacity:1;
}

h2{
	color:white;
}

.biaoyu1{
	font-size:25px;
	color:white;
}
.biaoyu{
	font-size:15px;
	color:white;
}

.jiacu{
	font-weight: 900;
	color:red;
}

.page-box2{
	
	position:absolute;
	height: 20%;
	width:40%;
	top:5%;
	left:6%;
	border: 1px solid #006699;/*#219171*/
	
	background: url(../img/zs.png) no-repeat 0 0,url(../img/ys.png) no-repeat 100% 0,url(../img/zx.png) no-repeat 0 100%,url(../img/yx.png) no-repeat 100% 100%;
	
	text-align:center;

}

.page-box3{
	
	position:absolute;
	height: 20%;
	width:40%;
	top:5%;
	left:53%;
	border: 1px solid #006699;/*#219171*/
	
	background: url(../img/zs.png) no-repeat 0 0,url(../img/ys.png) no-repeat 100% 0,url(../img/zx.png) no-repeat 0 100%,url(../img/yx.png) no-repeat 100% 100%;
	text-align:center;

}

.page-box4{
	
	position:absolute;
	height: 20%;
	width:40%;
	top:28%;
	left:6%;
	border: 1px solid #006699;/*#219171*/
	
	background: url(../img/zs.png) no-repeat 0 0,url(../img/ys.png) no-repeat 100% 0,url(../img/zx.png) no-repeat 0 100%,url(../img/yx.png) no-repeat 100% 100%;
	text-align:center;

}

.page-box5{
	
	position:absolute;
	height: 20%;
	width:40%;
	top:28%;
	left:53%;
	border: 1px solid #006699;/*#219171*/
	
	background: url(../img/zs.png) no-repeat 0 0,url(../img/ys.png) no-repeat 100% 0,url(../img/zx.png) no-repeat 0 100%,url(../img/yx.png) no-repeat 100% 100%;
	text-align:center;
}
.dishi{
	color:red;
	font-size:16px;
}

#main{
	width:100%;
	height:100%;
}
.page-box12{
	 margin: 15px;
	position:relative;
	height: 20%;
	width:93%;
	
	background: url(../img/zs.png) no-repeat 0 0,url(../img/ys.png) no-repeat 100% 0,url(../img/zx.png) no-repeat 0 100%,url(../img/yx.png) no-repeat 100% 100%;
	background-color: rgba(24, 80, 107, 0.5);
}

.page-box13{
	 margin: 15px;
	position:relative;
	height: 21%;
	width:93%;
	
	background: url(../img/zs.png) no-repeat 0 0,url(../img/ys.png) no-repeat 100% 0,url(../img/zx.png) no-repeat 0 100%,url(../img/yx.png) no-repeat 100% 100%;
	background-color: rgba(24, 80, 107, 0.5);
}

.page-box14{
	 margin: 15px;
	position:relative;
	
	width:93%;
	background: url(../img/zs.png) no-repeat 0 0,url(../img/ys.png) no-repeat 100% 0,url(../img/zx.png) no-repeat 0 100%,url(../img/yx.png) no-repeat 100% 100%;
	background-color: rgba(24, 80, 107, 0.5);
	
	color:white;
    font-size:14px;
    height: 40%; 
    overflow: hidden; 
    /*border-radius:5px;*/
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;

    opacity:1;
}

.page-box144{
	
	position:relative;
	
	width:93%;
	left:5%;
	color:white;
    font-size:14px;
    height: 90%; 
    overflow: hidden; 
    /*border-radius:5px;*/
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;

    opacity:1;
}

div h5{
	color:white;
	text-align:center;
}

.page-box22{
	position:absolute;
	height: 37%;
	width:40%;
	top:8%;
	left:6%;
	border: 1px solid #006699;/*#219171*/
	
	background: url(../img/zs.png) no-repeat 0 0,url(../img/ys.png) no-repeat 100% 0,url(../img/zx.png) no-repeat 0 100%,url(../img/yx.png) no-repeat 100% 100%;
	
	text-align:center;
}

.page-box33{
	position:absolute;
	height: 37%;
	width:40%;
	top:8%;
	left:53%;
	border: 1px solid #006699;/*#219171*/
	
	background: url(../img/zs.png) no-repeat 0 0,url(../img/ys.png) no-repeat 100% 0,url(../img/zx.png) no-repeat 0 100%,url(../img/yx.png) no-repeat 100% 100%;
	
	text-align:center;
}


.page-box44{
	position:absolute;
	height: 37%;
	width:40%;
	top:55%;
	left:6%;
	border: 1px solid #006699;/*#219171*/
	
	background: url(../img/zs.png) no-repeat 0 0,url(../img/ys.png) no-repeat 100% 0,url(../img/zx.png) no-repeat 0 100%,url(../img/yx.png) no-repeat 100% 100%;
	
	text-align:center;
}

.page-box55{
	position:absolute;
	height: 37%;
	width:40%;
	top:55%;
	left:53%;
	border: 1px solid #006699;/*#219171*/
	
	background: url(../img/zs.png) no-repeat 0 0,url(../img/ys.png) no-repeat 100% 0,url(../img/zx.png) no-repeat 0 100%,url(../img/yx.png) no-repeat 100% 100%;
	
	text-align:center;
}

#gauge1{
	position:absolute;
	margin:5px;
	width:30%;
	height:100%;
}
#gauge2{
	position:absolute;
	margin:5px;
	left:35%;
	width:30%;
	height:100%;
}
#gauge3{
	position:absolute;
	margin:5px;
	left:67%;
	width:30%;
	height:100%;
}
#gauge-text{
	position:absolute;
	top:80%;
	width:100%;
	text-align:center;
}

.page-box222{
	position:relative;
	margin:10px;
	
	top:10px;
	width:90%;
	
	border: 1px solid #006699;/*#219171*/
	
	background: url(../img/zs.png) no-repeat 0 0,url(../img/ys.png) no-repeat 100% 0,url(../img/zx.png) no-repeat 0 100%,url(../img/yx.png) no-repeat 100% 100%;
	
	text-align:center;
}

.page-box333{
	position:absolute;
	height: 20%;
	width:90%;
	top:8%;
	left:53%;
	border: 1px solid #006699;/*#219171*/
	
	background: url(../img/zs.png) no-repeat 0 0,url(../img/ys.png) no-repeat 100% 0,url(../img/zx.png) no-repeat 0 100%,url(../img/yx.png) no-repeat 100% 100%;
	
	text-align:center;
}


.page-box444{
	position:absolute;
	height: 37%;
	width:40%;
	top:55%;
	left:6%;
	border: 1px solid #006699;/*#219171*/
	
	background: url(../img/zs.png) no-repeat 0 0,url(../img/ys.png) no-repeat 100% 0,url(../img/zx.png) no-repeat 0 100%,url(../img/yx.png) no-repeat 100% 100%;
	
	text-align:center;
}

.page-box555{
	position:absolute;
	height: 37%;
	width:40%;
	top:55%;
	left:53%;
	border: 1px solid #006699;/*#219171*/
	
	background: url(../img/zs.png) no-repeat 0 0,url(../img/ys.png) no-repeat 100% 0,url(../img/zx.png) no-repeat 0 100%,url(../img/yx.png) no-repeat 100% 100%;
	
	text-align:center;
}

#scrollWarn5{ 
    /*background-color:#760808;*/
    
    color:white;
    font-size:14px;
    height: 26%; 
    overflow: hidden; 
    /*border-radius:5px;*/
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;

    opacity:1;
}

#scrollWarn6{ 
    /*background-color:#760808;*/
    
    color:white;
    font-size:14px;
    height: 26%; 
    overflow: hidden; 
    /*border-radius:5px;*/
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;

    opacity:1;
}

.page-box-nn{
	position:absolute;
	height: 15%;
	width:93%;
	top:3%;
	left:3%;
	
	
	text-align:center;
	
}

div h4{
	color:white;
}

div h3{
	color:white;
}

#gauge4{
	position:absolute;
	height: 43%;
	width:44%;
	top:22%;
	left:3%;

	
	text-align:center;
}


#gauge5{
	position:absolute;
	height: 43%;
	width:44%;
	top:65%;
	left:3%;
	
	
	text-align:center;
}

#gauge6{
	position:absolute;
	height: 43%;
	width:44%;
	top:22%;
	left:50%;

	
	text-align:center;
}

#gauge7{
	position:absolute;
	height: 43%;
	width:44%;
	top:65%;
	left:50%;

	
	text-align:center;
}

.wwhl{
	text-shadow: 1px 1px 0 #CCC, 
	2px 2px 0 #CCC, /* end of 2 level deep grey shadow */ 
	3px 3px 0 #444, 
	4px 4px 0 #444, 
	5px 5px 0 #444, 
	6px 6px 0 #444; /* end of 4 level deep dark shadow */ 
	
}

.wwhl:hover 
{ 
/* CSS3 Transform Effect */ 
-webkit-transform: scale(1.2); /* Safari & Chrome */ 
-moz-transform: scale(1.2); /* Firefox */ 
-o-transform: scale(1.2); /* Opera */ 
} 

img{
	
	cursor: pointer;
	transition: all .5s ease;
}
img:hover{
	-webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}

.zuodalianjieguimo{
	position:absolute;
	top:50%;
	left:20%;
}

.zuoyoulianjiefuwu{
	position:absolute;
	top:50%;
	left:70%;
}
.zuodalianjieyingyong{
	position:absolute;
	top:75%;
	left:45%;
}



.zuodalianjieguimo{
	
	cursor: pointer;
	transition: all .5s ease;
}
.zuodalianjieguimo:hover{
	-webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

.zuoyoulianjiefuwu{
	
	cursor: pointer;
	transition: all .5s ease;
}
.zuoyoulianjiefuwu:hover{
	-webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}




.zuodalianjieyingyong{
	
	cursor: pointer;
	transition: all .5s ease;
}
.zuodalianjieyingyong:hover{
	-webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}
